@media(max-width: 480px) {
  .skills {
    padding: 10px;
    height: 100vh;
  }
  .habilidades {
    margin-bottom: 18px;
  }
  .habilidades h2 {
    font-size: 25px;
    margin-top: 50px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .habilidades h2 + p {
    font-size: 12px;
  }
  .tecnologias .tec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    place-items: center;
}
.skills .html,
.skills .css,
.skills .javascript,
.skills .react,
.skills .git,
.skills .github,
.skills .typescript,
.skills .apis 
{
  width: 150px;
  height: 100px;
  margin: 0 auto;
}
.html svg,
.css svg,
.javascript svg,
.react svg,
.git svg,
.github svg,
.typescript svg,
.apis svg{
  margin-bottom: 10px;
  height: 35px;
  width: 35px;
}
.html span,
.css span,
.javascript span,
.react span,
.git span,
.github span,
.typescript span,
.apis span{
  font-size: 12px;
}

}