@media(max-width: 812px) {
  .button-contato {
    width: 250px;
  }
  .button-download {
    width: 200px;
  }
  .button-saiba-mais {
    width: 150px;
  }
}  

@media(max-width: 480px) {
  .meu-nome span {
    font-size: 40px;
  }
  .meu-nome .alterar-cor-nome {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .texto::after {
    margin-top: -45px;
    height: 25px;
  }
  .inicio {
    padding: 10px;
    height: 100vh;
  }
  .inicio strong {
    font-size: 10px;
    margin-top: 20px;
  }
  .inicio h1 {
    margin-bottom: 30px;
  }
  #texto {
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 40px;
    padding: 5px;
  }
  .inicio p {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .container-buttons {
    display: block;
    place-items: center;
  }
  .button-contato {
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    gap: 5px;
  }
  .button-download {
    font-size: 16px;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    gap: 5px;
  }
  .button-saiba-mais {
    font-size: 16px;
    width: 100px;
    height: 50px;
  }
  .container-redes-sociais {
    margin-top: 130px;
    gap: 25px;
  }
  .container-redes-sociais svg {
    width: 30px;
    height: 30px;
  }
}